/*Autor: Paras Navlani */
h1,h2,h3,h4 {
	margin: 20px 0;
	text-align-last: center;
  font-family: "Times New Roman", Times, serif;
	color: #2580b4;
	font-weight: black;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
  input[type=submit] {
    width: 100%;
    background-color: #2580b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2580b4;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=button] {
    width: 100%;
    background-color: #2580b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=button]:hover {
    background-color: #2580b4;
}







/*Google Auth */

.enllaç {
  text-align: center;
  padding-top: 20px;
}

.enllaç {
  text-decoration-line: none;
  font-family: inherit;
  padding-top: 20px;
  padding-left: 3px;
}
.enllaç img {
  width: 30px;
  height: 20px;
}


